$menuColor: #FFFFFF;
$backColor: #FAFAFA;
$orangeColor: #FA4A0C;
$grayColor: #737373;
$darkColor: #252B42;
$blackColor: #000000;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  color: inherit;
}

button {
  padding: 0;
  background: transparent;
}

.container {
  width: 100%; 
  max-width: 414px;
  max-height: 112px;
  margin: 0 auto;
  background: $menuColor;
 
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;

    a{
      margin-left: 9px;
      cursor: pointer;
      margin-bottom: 27px;
    }

  }
}

.download{
  width: 100%;
  margin: 0 auto;
}

.download__item{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

.download__item h2{
margin-top: 50px;
margin-bottom: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: $grayColor;
}

.download__item h1{
padding: 0;
margin: 0;
margin-bottom: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.2px;
color: $darkColor;
}

.download__item p{
margin-left: 35px;
margin-right: 35px;
margin-bottom: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: 0.2px;
color: $grayColor;
}


.play__store{
  margin-top: 40px;
  margin-bottom: 17px;
}

.app__store, .play__store{
padding: 16px 0px;

width: 236px;
height: 68px;

border: 1px solid $orangeColor;
border-radius: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
color: $orangeColor;
cursor: pointer;
transition: background-color 0.3s ease;
}

.download__item button:hover{
  background: $orangeColor;
  color: $menuColor;
}

.download__item button:focus{
  background: $orangeColor;
  color: $menuColor;
}

.download__item__info{
  padding: 0;
  margin: 0;
}
.download__item__button{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile2{
position: relative;
width: 219px;
height: 408px;
left: 223px;
top: -300px;

background: url(./images/mobile1.png);
}

.mobile1{
position: relative;
width: 230px;
height: 451px;
left: 20px;
top: 50px;
z-index: 10;
background: url(./images/mobile2.png);
filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
}

.download__item h3{
position: relative;
width: 242px;
height: 36px;
top: -200px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: 0.1px;
color: $blackColor;

}

.line__item{
position: relative;
width: 100%;
height: 0px;
top: -150px;
border: 3px solid #E4E4E4;

}
.content__item:first-child{
margin-top: 1250px;
}

.content__item{
  width: 100%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

.content__item__element{
  padding: 0;
  margin: 0;
}

.content__item h3{
  
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: 0.1px;
color: $orangeColor;
white-space: nowrap;
flex: none;
order: 0;
flex-grow: 0;

margin-bottom: 30px;
}

.content__item h2{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;

text-align: center;
letter-spacing: 0.2px;

color: $darkColor;

flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 30px;
}

.content__item__last__h2{
  padding-left: 20px;
  padding-right: 20px;
}

.content__item p{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: 0.2px;

color: $grayColor;

flex: none;
order: 0;
flex-grow: 0;
padding: 10px 50px;
margin-bottom: 30px;
}


.app{
  width: 100%;
  margin: 0 auto;
  max-width: 100%;

}

.app__item{
margin-top: 3180px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
padding-left: 44px;
padding-right: 44px;
padding-top: 110px;
background: $darkColor;
}

.app__item h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;

text-align: center;
letter-spacing: 0.2px;
color: $menuColor;

flex: none;
order: 0;
flex-grow: 0;
padding-left: 44px;
padding-right: 44px;
margin-bottom: 10px;
}

.app__item p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;

text-align: center;
letter-spacing: 0.2px;
color: #BDBDBD;

flex: none;
order: 0;
flex-grow: 0;

padding-left: 44px;
padding-right: 44px;
margin-bottom: 60px;
}


.app__item__button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  position: relative;
  margin-bottom: 150px;
}


.buy__now{
width: 137px;
height: 60px;
}

.try__for__free{
width: 185px;
height: 60px;
}


.buy__now, .try__for__free{
box-sizing: border-box;

border: 1px solid $menuColor;
border-radius: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.2px;
color: $menuColor;
cursor: pointer;
flex: none;
order: 0;
flex-grow: 0;
transition: transform 0.3s ease;
}

.full__button{
  display: none;
}

.app__item__button button:hover{
  background: $orangeColor;
  color: $menuColor;
  // height: 64px;
  border: 1px solid $orangeColor;
  transform: scale(1.07);
}

.app__item__button button:focus{
  background: $orangeColor;
  color: $menuColor;
  // height: 64px;
  border: 1px solid $orangeColor;
  transform: scale(1.07);
}

.p__full__item{
  display: none;
}

.footer__element{
  width: 100%;
  margin: 0 auto;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  background: $menuColor;

  margin-top: 550px;
  margin-bottom: 120px;
}

.footer__item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.footer__item a{
  cursor: pointer;
}

.footer__element p{
 
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;

text-align: center;
letter-spacing: 0.1px;

color: #5C5C5C;

flex: none;
order: 0;
flex-grow: 0;

}

.footer__element .grand__link{
  display: none;
}

.instagram{
  display: none;
}

.Copywright{
  display: none;
}

.burger__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // position: fixed;
            // top: 10px;
            // right: 10px;
            z-index: 1000;
        }

        .burger {
            cursor: pointer;
        }

        .burger div {
            width: 25px;
            height: 3px;
            background-color: $blackColor;
            margin: 5px 0;
            transition: 0.4s;
        }

        .burger.change div:nth-child(1) { 
    transform: rotate(-45deg) translate(-5px, 6px); 
} 

.burger.change div:nth-child(2) { 
    opacity: 0; 
} 

.burger.change div:nth-child(3) { 
    transform: rotate(45deg) translate(-5px, -6px); 
}

        .menu {
            height: 100%;
            width: 50%;
            position: fixed;
            top: 0;
            right: -10px;
            background-color: $orangeColor;
            box-shadow: -2px 0 5px rgba(0,0,0,0.5);
            transform: translateX(100%);
            transition: 0.3s;
            z-index: 999;
        }

        .menu__list {
          margin-top: 30px;
          padding: 20px;
          list-style-type: none;
        }

        .menu__item {
          margin: 30px 0;

          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.1px;
          color: $menuColor;
          text-align: left;
          position: relative;
        }

        .menu__item a {
            text-decoration: none;
            color: $blackColor;
            font-size: 20px;
            position: relative;
        }

        .menu__item a::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $blackColor;
            bottom: -5px;
            left: 0;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        .menu__item a:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

@media screen and (min-width: 1440px){

//   * {
//   outline: 1px solid red; //ПРОВЕРКА ЭЛЕМЕНТОВ - КТО ВЫЛАЗИТ ЗА РАЗМЕРЫ ЭКРАНА
// }


   .container {
  width: 1440px;
  max-width: 1440px;
  max-height: 112px;
  margin: 0 auto;
}

.burger__container{
  display: none;
}


.mobile2{
  top:60px;
  left:0;
}

.grand__link__item{
  margin-left: 60px;
  width: 206px; 
  height: 102px;
}

.download__item{
              
  width: 1440px;
  height: 619px;

  background: url(../images/back.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;

}
.download__item__info{
  width: 1000px;
  height: 325px;
  z-index: 10;
}
.download__item__info h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: 0.1px;
color: $menuColor;
}

.download__item__info h1{
padding: 10px 33px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 80px;
text-align: center;
letter-spacing: 0.2px;
color: $menuColor;
}
.download__item__info p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: 0.2px;
color: $menuColor;
}
.download__item__button{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  height: 100%;
}

.play__store{
  margin-top: 0;
  margin-bottom: 0;
}

    .menu {
    position: absolute;
    top: 15px;
    left: 0; 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: auto;
    box-shadow: none;
    background: $menuColor
}


    .menu__list {
        display: flex;
        justify-content:space-between;
        padding: 0;
    }

    .menu__item {
        margin: 0 30px;
    }

    .menu__item a {
        padding: 10px 20px;
    }

    .menu__item a::after {
            content: '';
            position: absolute;
            width: 80%;
            height: 3px;
            background-color: $blackColor;
            bottom: -1px;
            left: 10%;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

.app__store, .play__store{
border: 1px solid $menuColor;
color: $menuColor;
}

.download__item button:hover{
  background: $orangeColor;
  color: $menuColor;
  border: 1px solid $orangeColor;
}

.download__item button:focus{
  background: $orangeColor;
  color: $menuColor;
  border: 1px solid $orangeColor;
}

.download__item h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
position: relative;
top: 250px;
white-space: nowrap;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 36px;

letter-spacing: 0.1px;
color: $blackColor;
opacity: 0.8;
}

.line__item{
  display: flex;
  flex-direction: row;
  justify-content: center;
position: absolute;
top: 1230px;
left: 50%;
transform: translate(-50%, -50%);
width: 884px;
border: 3px solid #E4E4E4;
}

.content__item{
  display: flex;
  flex-direction: row-reverse;
}

.next{
  display: flex;
  flex-direction: row;
}

.content__item img{
  margin-left: 245px;
  margin-right: 190px;
}

.content__item__element{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.next__element{
  padding-left: 260px;
}

.next img{
  margin-left: 0;
}


.content__item__element h3,
.content__item__element h2,
.content__item__element p{
  padding: 0;
  text-align: left;
}

.content__item__element h2{
  padding-right: 100px;
}
.content__item__element p{
  padding-right: 180px;
}

.app__item{
  margin-top: 1750px;
            
  width: 1440px;
  height: 516px;

  background: url(../images/app.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

.app__item h2{
  margin-top: 35px;
}

.p__item{
  display: none;
}

.p__full__item{
margin-top: 10px;
display: flex;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
text-align: center;
letter-spacing: 0.2px;
color: $menuColor;

flex: none;
order: 0;
flex-grow: 0;
}

.app__item p{
  color: $menuColor;
}

.nofull__button{
  display: none;
}

.full__button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.footer__element{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;

  background: $menuColor;
     
  margin: 0 auto;
  max-width: 100%; 
  box-sizing: border-box; 
  position: relative;
  top:500px;
  padding-bottom: 60px;
}

.footer__element .grand__link{
  display: inline;
}

.linkedin{
  display: none;
}

.instagram{
  display: inline;
}

.noCopywright{
  display: none;
}

.Copywright{
  display: inline;
}

}
